h2{
  font-family: HelveticaNow;
  font-size: 1.5rem;
}

a{
  font-family: HelveticaNow;
  font-size: 1.5rem;
  padding-right: 1rem;
}

a{
  color: #3e83fb;
}

.navbar {
  background-color: #fff;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}
